## Numpy - Numerical computation in Python

In [ ]:
# Computation in python
def crop_yield(region, weights):
  result=0

  for x, w in zip(region, weights):
    result+=x*w

  return result

kanto=[73, 67, 43]
weights=[0.3, 0.2, 0.5]
total_yield=crop_yield(kanto, weights)

print(f"The total yield of apples in kanto region is {total_yield}")

In [ ]:
import numpy as np

In [ ]:
kanto=[73, 67, 43]
np_kanto=np.array(kanto)
type(np_kanto)

In [ ]:
weights=[0.3, 0.2, 0.5]
np_weights=np.array(weights)
type(np_weights)

In [ ]:
# Dot product
total_yield=np.dot(np_kanto, np_weights)
print(total_yield)

In [ ]:
# sum() function
total_yield=(np_kanto*np_weights).sum()
print(total_yield)

In [ ]:
# Python lists
arr1=list(range(1000000))
arr2=list(range(1000000, 2000000))

# Numpy arrays
np_arr1=np.array(arr1)
np_arr2=np.array(arr2)

In [ ]:
%%time
result=0
for x1, x2 in zip(arr1, arr2):
  result+=x1*x2
print(result)

In [ ]:
%%time
print(np.dot(np_arr1, np_arr2))

### Multi-dimensional numpy arrays

In [ ]:
# 2D array
np_climate=np.array([[73, 67, 43],
                     [91, 88, 64],
                     [87, 134, 58],
                     [102, 43, 37],
                     [69, 96, 70]])
np_climate

In [ ]:
# Dimensions of the numpy array
print(np_climate.shape)
print(np_weights.shape)

In [ ]:
# 3D array
np_coordinates=np.array([
  [[11, 12, 13],
   [13, 14, 15]],
  [[15, 16, 17],
   [17, 18, 19.5]]
])
np_coordinates

In [ ]:
print(np_coordinates.shape)

In [ ]:
# Data type of numpy array
print(np_weights.dtype)
print(np_climate.dtype)
print(np_coordinates.dtype)

In [ ]:
# Matrix multiplication
matmul_array=np.matmul(np_climate, np_weights)
matmul_array

### Working with CSV files

In [ ]:
# urllib.request.urlretreive - to copy from a url
# shutil - to copy from local system

import shutil
shutil.copy('C:\\Users\\Kushal\\Downloads\\weather_data.csv', 'climate.txt')

In [ ]:
climate_data=np.genfromtxt('climate.txt', delimiter=',', skip_header=1)

In [ ]:
climate_data

In [ ]:
climate_data.shape

In [ ]:
tot_yield=np.matmul(climate_data, np_weights)
print(tot_yield)
print(tot_yield.shape)

In [ ]:
# Concatenation
climate_results=np.concatenate((climate_data, tot_yield.reshape(10000, 1)), axis=1)

In [ ]:
climate_results

In [ ]:
np.savetxt('climate.txt',
           climate_results,
           fmt='%.2f',
           header='temperature,rainfall,humidity,yield_apples',
           comments='')

### Arithmetic operations and broadcasting

In [ ]:
arr1=np.array([[1, 2, 3, 4],
               [5, 6, 7, 8],
               [9, 1, 2, 3]])

In [ ]:
arr2=np.array([[11, 12, 13, 14],
               [15, 16, 17, 18],
               [19, 11, 12, 13]])

In [ ]:
arr1+arr2

In [ ]:
# Adding a scalar
arr1+3

In [ ]:
arr2-arr1

In [ ]:
arr2/2

In [ ]:
arr1*arr2

In [ ]:
arr2

In [ ]:
arr2.shape

In [ ]:
arr3=np.array([4, 5, 6, 7])

In [ ]:
arr3.shape

In [ ]:
'''Broadcasting - the 1D array replicates itself to number 
of rows of 2D array and then performs the operations. We have
to make sure the columns in both the arrays are equal'''
arr2+arr3

In [ ]:
a1=np.array([[1, 2, 3],
             [3, 4, 5]])

In [ ]:
a1

In [ ]:
a2=np.array([[2, 2, 3],
             [1, 2, 5]])

In [ ]:
a2

In [ ]:
a1==a2

In [ ]:
a1!=a2

In [ ]:
a1>=a2

In [ ]:
a1<=a2

In [ ]:
(a1==a2).sum()

### Array slicing and indexing

In [ ]:
arr=np.array([
  [[11, 12, 13, 14],
   [13, 14, 15, 19]],
  [[16, 16, 17, 21],
   [63, 92, 36, 18]],
  [[98, 32, 81, 23],
   [17, 18, 19.5, 43]]
])

In [ ]:
arr.shape

In [ ]:
arr[1]

In [ ]:
arr[1][1]

In [ ]:
# Single element
arr[1][1][2]

In [ ]:
# Indexing using ranges
arr[1:, 0:1, :2]

In [ ]:
# Mixing indices and ranges
arr[1:, 1, 3]

In [ ]:
arr[1:, 1, :3]

In [ ]:
arr[:2, 1]

### Other ways of creating Numpy arrays

In [ ]:
# All zeroes
np.zeros((3, 2, 2))

In [ ]:
# All ones
np.ones([2, 2, 3])

In [ ]:
# Identity matrix
np.eye(3)

In [ ]:
# Random vector
np.random.rand(5)

In [ ]:
# Random matrix
np.random.randn(2, 3)

##### np.random.rand generates samples from a uniform distribution between 0 and 1. np.random.randn generates samples from a standard normal distribution with mean 0 and std 1

In [ ]:
# Fixed value
np.full([2, 3], 42)

In [ ]:
# Range with start, end, step
np.arange(10, 90, 3)

In [ ]:
# Equally spaced numbers in a range
np.linspace(3, 27, 9)

In [ ]:
np.arange(10, 90, 3).shape

In [ ]:
np.arange(10, 90, 3).reshape(3, 3, 3)

### Important Numpy functions

##### Function 1 - np.concatenate

In [ ]:
arr1=[[1, 2],
      [3, 4.]]

arr2=[[5, 6, 7],
      [8, 9, 10]]

np.concatenate((arr1, arr2), axis=1)

'''With axis=0, all the input array dimensions except for the 
concatenation axis must match exactly, but along dimension 1, 
the array at index 0 has size 2 and the array at index 1 has size 3'''

##### Function 2 - np.max

In [ ]:
np.max([1, 2, 3, 4, 5])

##### Function 3 - np.min

In [ ]:
np.min([1, 2, 3, 4, 5])

##### Function 4 - np.mean

In [ ]:
np.mean([1, 2, 3, 4, 5])

##### Function 5 - np.median

In [ ]:
np.median([1, 2, 3, 4, 5])

### File Handling with os library

In [ ]:
import os

In [ ]:
# Checking the present working directory
os.getcwd()

In [ ]:
# To get the names of files in the directory - relative path
os.listdir('.')

In [ ]:
# To get the names of files in the directory - absolute path
os.listdir(r'D:\\python-for-ai\\Numpy')

In [ ]:
# Create a new directory
os.makedirs('./data', exist_ok=True)

In [ ]:
'data' in os.listdir('.')

In [ ]:
os.listdir('./data')

In [ ]:
# Reading from a file
file1=open('./data/climate.txt', mode='r')

In [ ]:
file1_contents=file1.read()

In [ ]:
print(file1_contents)

In [ ]:
file1.close()

In [ ]:
'''with function - Once the statements within the with block are 
executed, the .close method on file is automatically invoked
'''

with open('./data/climate.txt', 'r') as file2:
  file2_contents=file2.read()
  print(file2_contents)

In [ ]:
# Reading individual lines
with open('./data/climate.txt', 'r') as file3:
  file3_contents=file3.readlines()
  print(file3_contents)

### Processing data from files

In [ ]:
def parse_headers(header_line):
  return header_line.strip().split(',')

In [ ]:
file4=open('./data/climate.txt', mode='r')
file4_contents=file4.readlines()
print(file4_contents)

In [ ]:
headers=file4_contents[0]
headers

In [ ]:
parsed_headers=parse_headers(headers)
parsed_headers

In [ ]:
file4_contents[2]

In [ ]:
def parse_values(data_line):
  data_values=[]
  for item in data_line.strip().split(' '):
    data_values.append(float(item))
  return data_values

In [ ]:
data_values=parse_values(file4_contents[1])
data_values

In [ ]:
def create_item_dict(headers, values):
  result={}
  for header, value in zip(headers, values):
    result[header]=value
  return result

In [ ]:
create_item_dict(parsed_headers, data_values)

In [ ]:
def process_file(path):
  result=[]

  with open(path, 'r') as f:
    lines=f.readlines()

    headers=parse_headers(lines[0])

    for data_line in lines[1:]:
      values=parse_values(data_line)
      item_dict=create_item_dict(headers, values)
      result.append(item_dict)

  return result

In [ ]:
process_file('./data/climate.txt')

In [ ]:
# Calculating EMI
import math

def loan_emi(amount, duration, rate, down_payment=0):
  loan_amount=amount-down_payment
  try:
    emi=loan_amount*rate*((1+rate)**duration)/(((1+rate)**duration)-1)
  except ZeroDivisionError:
    emi=loan_amount/duration

  emi=math.ceil(emi)
  return emi

In [ ]:
loan_emi(10000, 3, 0.06, 8)

In [ ]:
os.makedirs('./temp', exist_ok=True)

In [ ]:
with open('./temp/climate.txt', 'w') as f:
  f.write('{},{},{},{}\n'.format(
    4.32,
    1.29,
    34.5,
    67.3
  ))

In [ ]:
with open('./temp/climate.txt', 'r') as f:
  print(f.readlines())